<button type="button" class="btn btn-info" data-toggle="modal" data-target="#newFile"><span class="glyphicon glyphicon-folder-close"></span> New Dir</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#upload"><span class="glyphicon glyphicon-send"></span> Upload</button>
<!-- Modal New dir-->
<div class="modal fade" id="newFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Dir</h4>
            </div>
            <form action="http://localhost:8080/api/v1/mkdir" method="GET">
                <div class="modal-body">
                    <label for="name">Name : </label>
                    <input name="name" id="name" type="text" class="form-control" value="new">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="New">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal New dir-->
<div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload a file</h4>
            </div>
            <form action="http://localhost:8080/api/v1/upload" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <label for="path">Name : </label>
                    <input name="path" id="path" type="text" class="form-control" value="" />
                    <label for="file">Choose a file : </label>
                    <input name="file" type="file" id="file" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Upload" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal mv-->
<div class="modal fade" id="renameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload a file</h4>
            </div>
            <form action="http://localhost:8080/api/v1/mv" method="GET" enctype="multipart/form-data">
                <div class="modal-body">
                    <label for="from">Name : </label>
                    <input name="from" id="from" type="text" class="form-control" value="" />
                    <label for="to">New name : </label>
                    <input name="to" id="to" type="text" class="form-control" value="" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" value="Remove" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal info-->
<div class="modal fade" id="infoFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detail du dir</h4>
            </div>
            <ul class="list-group" id="myFile">
            </ul>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal share-->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Link</h4>
            </div>
            <div class="modal-body">
                <label for="url">Url : </label>
                <input name="url" id="shareUrl" type="text" class="form-control" value="" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </div>
</div>
<div ng-controller="DashboardCtrl">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Num</th>
                <th>Name</th>
                <th>Size</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" g in google">
                <th scope="row">{{ $index+1 }}</th>
                <td>{{g.name}}</td>
                <td>Google Drive</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="" data-name="{{g.name}}" data-url="http://localhost:8080/api/v1/detailFile?name={{g.id}}" onclick="getInfo(this);"
                                    data-target="#infoFile" data-toggle="modal">
                                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Info
                                </a>
                            </li>
                            <li>
                                <a href="http://localhost:8080/api/v1/rm?type=google&name={{g.xxx}}"> <span class="glyphicon glyphicon-trash"></span> Remove</a>
                            </li>
                            <li>
                                <a href="" data-share="http://localhost:8080/api/v1/share?name={{g.id}}" onclick="share(this);" data-target="#share" data-toggle="modal">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share
                                </a>
                            </li>
                            <li>
                                <a href="" data-coucou="{{d.path}}" onclick="hello(this);" class="rename" data-target="#renameModal" data-toggle="modal">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rename
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr ng-repeat=" d in dropbox">
                <th scope="row">{{ $index+1+google.length }}</th>
                <td>{{d.path |cut}}</td>

                <td>
                    <p ng-show="d.is_dir"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;DIR</p>
                    <p ng-if="d.is_dir==false"><span class="glyphicon glyphicon-paperclip"></span>&nbsp;{{d.size}}</p>
                </td>

                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="" data-url="http://localhost:8080/api/v1/detailFile?name={{d.path}}" onclick="getInfo(this);" data-target="#infoFile"
                                    data-toggle="modal">
                                    <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> Info
                                </a>
                            </li>
                            <li>
                                <a href="http://localhost:8080/api/v1/rm?type=dropbox&name={{d.path}}"> <span class="glyphicon glyphicon-trash"></span> Remove</a>
                            </li>
                            <li>
                                <a href="" data-share="http://localhost:8080/api/v1/share?name={{d.path}}" onclick="share(this);" data-target="#share" data-toggle="modal">
                                    <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share
                                </a>
                            </li>
                            <li>
                                <a href="" data-coucou="{{d.path}}" onclick="rename(this);" class="rename" data-target="#renameModal" data-toggle="modal">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Rename
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <p> <strong>Total:</strong> {{ google.length+dropbox.length}}</p>
</div>

<script>
    function getInfo(data)
    {
        // console.log(data);
        var url= "http://localhost/proxy.php?url="+data.getAttribute("data-url");
        $.getJSON(url,function(data,code){
            var colors=['success','info','warning','danger','default'];
            if(code === "success")
            {
                $('#myFile').empty();
                var target=$('#myFile');
                var icon_dir="<span class=\"glyphicon glyphicon-folder-open\"></span>";
                var icon_file="<span class=\"glyphicon glyphicon-paperclip\"></span>";
                
                var tmp = data.dropbox;
                if(tmp!==undefined)
                {
                    var tmp=tmp.contents;
                    if(tmp!==undefined)
                    {
                        // multi fichiers
                        for(var i=0;i<tmp.length;i++)
                        {
                            if(tmp[i].is_dir)
                            {
                                var data="data-url=\"http://localhost:8080/api/v1/detailFile?name="+tmp[i].path+"\""; 
                                var root="onclick=\"getInfo(this);\" data-target=\"#infoFile\"data-toggle=\"modal\""+data;
                                target.append("<li href=\"\" class=\"list-group-item list-group-item-"+colors[i%5]+"\""+root+">"+icon_dir+"&nbsp;"+tmp[i].path+"</li>");
                            }else
                            {
                            target.append("<li class=\"list-group-item list-group-item-"+colors[i%5]+"\">"
                            +icon_file+"&nbsp;"+tmp[i].path+"&nbsp;"+tmp[i].size+"</li>");
                            }
                        }
                      }
            else{
                    // seul
                     target.append("<li class=\"list-group-item list-group-item-"+colors[i%5]+"\">"+data.dropbox.path+"&nbsp;<span class=\"glyphicon glyphicon-paperclip\"></span>"+data.dropbox.size+"</li>");
                }
            }
        

             var google = data.google;
             if(google.title!==undefined){
                     $('#myFile').empty();
                 target.append("<li class=\"list-group-item list-group-item-"+colors[i%5]+"\">"+"&nbsp;"+google.title+"</li>");

             }
            }
        });
    }
    
    function rename(s){
        console.log(s.getAttribute("data-coucou"));
        $("#from").attr("value",s.getAttribute("data-coucou"));
    }
    
function share(data)
    {
        var url= "http://localhost/proxy.php?url="+data.getAttribute("data-share");
        $.getJSON(url,function(data,code){
                $('#shareUrl').attr('value',data.url);
            });
    }

</script>