<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <h1>KÖRPÜ!</h1>
      <p>Sys Dropbox + Google Drive</p>
    </div>
    <div class="col-md-2">
      <img class="img-responsive" src="./img/google.png" alt="">
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="./img/dropbox.png" alt="">
    </div>
  </div>
  <a class="btn btn-primary btn-lg" href="https://www.dropbox.com/1/oauth2/authorize?response_type=code&client_id=yupwnr7l9luikkb&redirect_uri=http://localhost:8080/api/v1/callbackDropbox"
    role="button">Dropbox!</a>
  <a class="btn btn-info btn-lg" href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http://localhost:8080/api/v1/callbackGoogle&response_type=code&client_id=56962053326-5j1mn79kigedokk2i7o3pc0cglgsud5b.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&approval_prompt=force&access_type=offline"
    role="button">Google!</a>
</div>